<div>
  {{message}}
</div>
<div>
  {{testMsg.length ? testMsg: 'Nothing here.....'}}
</div>
<div>
  <h1 for=""  [innerText]="message" #msgH1></h1>
  <input [value]="title" #titleInput>
</div>
<div>
  <p (click)="handleClick($event)">{{newMessage}}</p>
  <input type="text" (change)="handleInput($event)" #changInput>
  <p>{{nameTarget}}</p>
</div>

<div>
  <h4>{{titleInput.value}}</h4>
  <h5>{{msgH1.innerText}}</h5>
  <h6>{{changInput.value}}</h6>
</div>

<!--<app-donut-list></app-donut-list>-->
<!--<app-donut-single></app-donut-single>-->
<router-outlet></router-outlet>
