/* You can add global styles to this file, and also import other style files */


label {
  display: block;
  margin-bottom: 10px;
  span {
    display: block;
    margin-bottom: 5px;
  }
}

.input {
  //outline: 0;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  background-color: #f7f7f7;
  &:focus {
    border-color: #e3e3e3;
  }
}

form .ng-invalid.ng-touched {
  background: #ffe7e7;
  border-color: #e66262;
}

.btn {
  padding: 10px 10px;
  background-color: aqua;
  color: #444444;
  &-new {
    margin-bottom: 20px;
  }

}
